<!DOCTYPE html>
<head>
    <title>XptO - Its 4 All</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'logout' %}">TERMINAR SESSÃO</a></h3>
    </th>
</head>
<body>
        <hr color="black" />
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'admin' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'admin' %}">TODAS OS COLABORADORES</a></h3>
            </th>
            <th style="text-align:right">
                <h3>Bem vindo, Admin {{nom}}</h3>
            </th>
        </table>
        <hr color="black" />
        <center>
            <br>
            <h1>Colaborador Rejeitado!</h1>
        </center>
</body>
</html>