<!DOCTYPE html>
<script>
    function red(x) {
        return Number.parseFloat(x).toFixed(2);
}
</script>
<head>
    <title>XptO - Carrinho</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'carrinho' %}">MEU CARRINHO ( {{conta}} )</a></h3>
</head>
<body>
        <hr color="black" />
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'home' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'produtos' %}">TODOS OS PRODUTOS</a></h3>
            </th>
            <th style="text-align:right">
                <h3><a href="{% url 'login' %}">INICIAR SESSÃO</a></h3>
            </th>
        </table>
        <hr color="black" />
        <center>
            <br>
            <h3>O meu carrinho</h3>
            <table border="1">
                <tr>
                   <th>Produto</th> 
                   <th>Quantidade</th> 
                   <th>Preço</th>
                   <th>Desconto</th>
                   <th>Remover 1 Unidade</th>
                   <th>Eliminar do Carrinho</th>
                </tr>
            </table>
            <br>
            <h2>Carrinho Vazio</h2>
            <br>
        </center>