<!DOCTYPE html>
<script>
    function red(x) {
        return Number.parseFloat(x).toFixed(2);
}
</script>
<head>
    <title>XptO - Carrinho</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'carrinho' %}">MEU CARRINHO ( {{conta}} )</a></h3>
</head>
<body>
        <hr color="black" />
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'home' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'produtos' %}">TODOS OS PRODUTOS</a></h3>
            </th>
            <th style="text-align:right">
                <h3><a href="{% url 'login' %}">INICIAR SESSÃO</a></h3>
            </th>
        </table>
        <hr color="black" />
        <center>
            <br>
            <h3>O meu carrinho</h3>
            <table border="1">
                <tr>
                   <th>Produto</th> 
                   <th>Quantidade</th> 
                   <th>Preço</th>
                </tr>
                {% for result in data%}
                <tr>
                    <td>{{result.nome}}</td>
                    <td>{{result.quantidade}}</td>
                    <td>{{result.preço}}</td>
                    <td><input type="submit" value=" - "/></td>
                </tr>
                {% endfor %} 
            </table>
            <br>
            {% for result in total%}
            <h3>Total: {{result.total}} €</h3>
            {% endfor %}
            <br>
            <input type="submit" value="Finalizar Encomenda"/>
            <br>
            <br>
            <input type="submit" value="Limpar Carrinho"/>
            <br>
        </center>