<!DOCTYPE html>
<head>
    <title>XptO - Its 4 All</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'carrinho' %}">MEU CARRINHO ( {{conta}} )</a></h3>
</head>
<body>
        <hr color="black" />
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'home' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'produtos' %}">TODOS OS PRODUTOS</a></h3>
            </th>
            <th style="text-align:right">
                <h3>Bem vindo, <a href="{% url 'perfil' %}">{{nom}}</a></h3>
            </th>
        </table>
        <hr color="black" />
        <center>
            <br>
            <h1>Item eliminado do carrinho!</h1>
        </center>
</body>
</html>