<!DOCTYPE html>
<head>
    <title>XptO - Its 4 All</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'logout' %}">TERMINAR SESSÃO</a></h3>
    </th>
</head>
<body>
        <hr color="black" />
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'admin' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'colaboradores' %}">TODAS OS COLABORADORES</a></h3>
            </th>
            <th style="text-align:right">
                <h3>Bem vindo, Admin {{nom}}</h3>
            </th>
        </table>
        <hr color="black" />
        <center>
        <br>
        <h2>Lista de Espera</h2>
        <br>
        <table border="1">
            <tr>
               <th>Nome</th> 
               <th>Apelido</th> 
               <th>Data de Nascimento</th> 
               <th>Morada</th> 
               <th>Email</th>
               <th>Tipo</th>
            </tr>
            {% for result in data%}
            <tr>
                <td>{{result.nome}}</td>
                <td>{{result.apelido}}</td>
                <td>{{result.data_nascimento}}</td>
                <td>{{result.morada}}</td>
                <td>{{result.email}}</td>
                <td>{{result.tipo}}</td>
                <td><a href="Valid/{{result.email}}"><input type="submit" value="Validar"/></a></td>
                <td><a href="Del/{{result.email}}"><input type="submit" value=" X "/></a></td>
            </tr> 
            {% endfor %}
        </table>
        <br>
        </center>
</body>
</html>