<!DOCTYPE html>
<head>
    <title>XptO - Its 4 All</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'logout' %}">TERMINAR SESSÃO</a></h3>
</head>
<body>
        <hr color="black" />
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'comercial' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'prodcomercial' %}">GESTÃO DE PRODUTOS</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'waitlist' %}">GESTÃO DE ENCOMENDAS</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'vendas' %}">GESTÃO DE VENDAS</a></h3>
            </th>
            <th style="text-align:right">
                <h3>Bem vindo, {{nom}}</a></h3>
            </th>
        </table>
        <hr color="black" />
        <center>
        <br>
        <h2>Stock a esgotar</h2>
        <br>
        <table border="1">
            <tr>
               <th>Nome</th> 
               <th>Tipo</th> 
               <th>Loja</th> 
               <th>Quantidade</th> 
               <th>Preço</th>
               <th>Desconto</th>
            </tr>
            {% for result in d%}
            <tr>
                <td>{{result.nome}}</td>
                <td>{{result.tipo}}</td>
                <td>{{result.fornecedor}}</td>
                <td>{{result.quantidade}}</td>
                <td>{{result.preço}}</td>
                <td>{{result.desconto}}</td>
                <td><input type="submit" value="Editar"/><a href="{{result.nome}}/"><input type="submit" value="+ Stock"/></a></td>
            </tr> 
            {% endfor %}
        </table>
        </center>
</body>
</html>