<!DOCTYPE html>
<head>
    <title>XptO - Its 4 All</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'logout' %}">TERMINAR SESSÃO</a></h3>
</head>
<body>
    <hr color="black" />
    <table style="width:100%">
        <th style="text-align:left">
            <h3><a href="{% url 'comercial' %}">HOME</a></h3>
        </th>
        <th style="text-align:left">
            <h3><a href="{% url 'prodcomercial' %}">GESTÃO DE PRODUTOS</a></h3>
        </th>
        <th style="text-align:left">
            <h3><a href="{% url 'waitlist' %}">GESTÃO DE ENCOMENDAS</a></h3>
        </th>
        <th style="text-align:left">
            <h3><a href="{% url 'vendas' %}">GESTÃO DE VENDAS</a></h3>
        </th>
        <th style="text-align:right">
            <h3>Bem vindo, {{nom}}</a></h3>
        </th>
    </table>
        <hr color="black" />
        <center>
        <br>
        <h2>Todos os Fornecedores</h2>
        <br>
        <table border="1">
            <tr>
               <th>Nome</th> 
               <th>Morada</th>
               <th>Contacto</th>
               <th>Email</th> 
            </tr>
            {% for result in data3%}
            <tr>
                <td>{{result.0}}</td>
                <td>{{result.1}}</td>
                <td>{{result.2}}</td>
                <td>{{result.3}}</td>
                <td><a href="{{result.0}}/"><input type="submit" value="Encomendar Stock"/></a></td>
            </tr> 
            {% endfor %}
        </table>
        <br>
        </center>
</body>
</html>