<!DOCTYPE html>
<head>
    <title>XptO - Login</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'carrinho' %}">MEU CARRINHO  ( {{conta}} )</a></h3>
</head>
<body>
        <hr color="black" /> 
        <table style="width:100%">
            <th style="text-align:left">
                <h3><a href="{% url 'home' %}">HOME</a></h3>
            </th>
            <th style="text-align:left">
                <h3><a href="{% url 'produtos' %}">TODOS OS PRODUTOS</a></h3>
            </th>
            <th style="text-align:right">
                <h3><a href="{% url 'login' %}">INICIAR SESSÃO</a></h3>
            </th>
        </table>
        <hr color="black" />
    <center>
    <br>
    <h3>Parceiro</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
        </table>
        <br>
        <input type="submit" value="Iniciar Sessão"/>
        <br>
        <br>
        <h4><a href="{% url 'regist' %}">Ainda não tem conta? Faça o seu registo</a></h4>
        <br>
        <h4>Já é nosso colaborador? Inicie sessão como <a href="{% url 'loginad' %}">Administrador</a>, <a href="{% url 'logincom' %}">Comercial</a> ou <a href="{% url 'loginpar' %}">Parceiro</a></h4>
    </form>
    </center>
</body>
</html>