<!DOCTYPE html>
<head>
    <title>XptO - Its 4 All</title>
    <h1 align="left">XPTO STORE</h1><h3 align="right"><a href="{% url 'logout' %}">TERMINAR SESSÃO</a></h3>
</head>
<body>
    <hr color="black" />
    <table style="width:100%">
        <th style="text-align:left">
            <h3><a href="{% url 'comercial' %}">HOME</a></h3>
        </th>
        <th style="text-align:left">
            <h3><a href="{% url 'prodcomercial' %}">GESTÃO DE PRODUTOS</a></h3>
        </th>
        <th style="text-align:left">
            <h3><a href="{% url 'waitlist' %}">GESTÃO DE ENCOMENDAS</a></h3>
        </th>
        <th style="text-align:left">
            <h3><a href="{% url 'vendas' %}">GESTÃO DE VENDAS</a></h3>
        </th>
        <th style="text-align:right">
            <h3>Bem vindo, {{nom}}</a></h3>
        </th>
    </table>
        <hr color="black" />
        <center>
        <br>
        <h2>10 Produtos mais vendidos</h2>
        <br>
        <table border="1">
            <tr>
               <th>Nome</th> 
               <th>Preço</th> 
               <th>Desconto</th> 
               <th>Vendas</th> 
            </tr>
            {% for vend in vend%}
            <tr>
                <td>{{vend.0}}</td>
                <td>{{vend.1}}</td>
                <td>{{vend.2}}</td>
                <td>{{vend.3}}</td>
            </tr> 
            {% endfor %}
        </table>
        <br>
        <h2>Top 3 Consumidores do mês</h2>
        <br>
        <table border="1">
            <tr>
               <th>Utilizador</th> 
               <th>Encomendas</th> 
            </tr>
            {% for top in top%}
            <tr>
                <td>{{top.0}}</td>
                <td>{{top.1}}</td>
            </tr> 
            {% endfor %}
        </table>
        <br>
        <h2>Todas as Encomendas</h2>
        <br>
        <table border="1">
            <tr>
               <th>ID Encomenda</th> 
               <th>Utilizador</th> 
               <th>Data</th> 
               <th>Preço</th> 
            </tr>
            {% for result in result%}
            <tr>
                <td>{{result.0}}</td>
                <td>{{result.2}}</td>
                <td>{{result.1}}</td>
                <td>{{result.3}}</td>
            </tr> 
            {% endfor %}
        </table>
        <br>
        <h2>Produtos Vendidos</h2>
        <br>
        <table border="1">
            <tr>
               <th>Nome</th> 
               <th>Preço</th> 
               <th>Desconto</th> 
               <th>Vendas</th> 
            </tr>
            {% for vend2 in vend2%}
            <tr>
                <td>{{vend2.0}}</td>
                <td>{{vend2.1}}</td>
                <td>{{vend2.2}}</td>
                <td>{{vend2.3}}</td>
            </tr> 
            {% endfor %}
        </table>
        </center>
</body>
</html>